#titlewords{
font-family: 'Luckiest Guy', cursive;
font-size:40px;
color:white;
text-shadow: -3px 0 darkred, 0 3px darkred, 3px 0 darkred, 0 -3px darkred;
background-color: #d50000;
text-align:center;
margin-bottom:15px;
margin-left:20px;
margin-right:20px;
border-radius: 25px;
}

#giantTitle img{
	display:block;
	margin: 0 auto;
	

}

#instructions {
	font-family: 'VT323', monospace;
	/*font-family: 'Press Start 2P', cursive;*/
	letter-spacing: 1.5px;
	font-weight: bold;
	text-align:center;

}

#subtitle {
	font-family: 'Luckiest Guy', cursive;
	font-size:26px;
	color:gold;
	/*text-shadow: -.25px 0 yellow, 0 .25px yellow, .25px 0 yellow, 0 -.25px yellow;*/
	/*letter-spacing:px;*/
	background-color: midnightblue;
	text-align:center;
	margin-left:45px;
	margin-right:45px;
	border-radius: 25px;
}

#targetNumber {
	font-family: 'Luckiest Guy', cursive;
	color:white;
text-shadow: -2px 0 darkred, 0 2px darkred, 2px 0 darkred, 0 -2px darkred;
background-color: #d50000;
font-size:28px;
text-align:center;
margin-left:20px;
margin-right:20px;
border-radius: 25px;
margin-bottom:15px;
}

#winslosses {
	font-family: 'Luckiest Guy', cursive;
	border-style: dashed;
    border-width: 5px;
	border-color:gold;
	background-color: midnightblue;
	color:gold;
	font-size:25px;
	width:7%;
	float:left;
	padding: 15px;
	text-align:center;
	margin-left:40px;
	padding-top:60px;
	padding-bottom:60px;
	margin-top:150px;
	line-height:150%;
	border-radius: 25px;
}



#playerScore {
	font-family: 'Luckiest Guy', cursive;
	border-style: dashed;
    border-width: 5px;
	border-color:gold;
	background-color:midnightblue;
	color:gold;
	font-size:25px;
	/*margin-top:20px;
	margin-bottom:40px;*/
	width:7%;
	float:right;
	padding:15px;
	text-align: center;
	padding-top:60px;
	padding-bottom:60px;
	margin-top:150px;
	margin-right:40px;
	line-height:150%;
	border-radius: 25px;
}





#mylogo {
	max-height:250px;
	width:auto;
}

.crystals {
	margin-left:15%;
	margin-right:15%;
	position:relative;
	height:500px;
	margin-bottom:40px;
	
}

.crystals img {
	position:absolute;
	max-height:450px;
	width:auto;
}


#redcrystal {
	
	
	max-height:150px;
	width:auto;
	/*float: left;*/
	position:absolute;
	top:0;
	left:0;
}

#yellowcrystal {
	position:absolute;
	max-height:150px;
	width:auto;
	/*bottom:10px;
	left:40%;

*/
bottom:0;
left:0;

}


#bluecrystal {
right:0;
top:0;
max-height:150px;
	width:auto;
}

#greencrystal {
	right:0;
	bottom:0;
	max-height:150px;
	width:auto;
}

#sonicpic {
	
	max-width:100%;
	height:auto;
	/*margin-left:300px;*/
	/*display:block;
	margin: 0 auto;*/
	top:8%;
	left:43%;
	





}

#footer {
height:10px;
}
/*.emeralds img {
	max-height:150px;
	width:auto;
}*/